html {
    font-size: 16px;
}

body {
    font-family: 'Oxygen','sans-serif';
    background-image: url(/img/img.jpg);
    color: lightgray;
}

.caixa {
    width: 50vw;
    height: auto;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    padding: 3rem 2rem;
    background-color: #000235;
    border: 2px solid rgb(99, 7, 7);
    
}

.titulo {
    font-size: 2rem;
    font-style: bold;
    padding-bottom: 2rem;
    text-align: center;
}

.descricao {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 3px solid #3b3b4f;
}

fieldset {
    border-bottom: 3px solid #3b3b4f;
    margin: 2rem 0;
    padding-bottom: 2rem;
    font-size: 0.9rem;
}

.primeiro-container label {
    font-style: bold;
    display: block;
    margin: 0.5rem 0 0.5rem 0.1rem;
    
}

.primeiro-container input{
    display: block;
    width: 97%;
    padding: 0.3rem;
    margin-bottom: 1.5rem;
    background-color:#ADD8E6;
    border: none;
    font-style: bold;
}

#idade {
    width: fit-content;
}

#lista-genero {
    padding: 0.3rem;
    width: fit-content;
}

select {
    background-color: #ADD8E6;
}

.segundo-container label {
    display:block;
    margin-top: 1rem;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5rem 0 0;
}



fieldset:last-of-type {
    border: none;
}

textarea {
    margin: 1.5rem 0;
    display: block
}

#submit {
    display: block;
    padding: 0.5rem;
    width: 75%;
    margin: 2rem auto 0; 
    background-color: #000235;
    border: 1px solid white;
    color: white;
    font-style: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

#submit:hover {
    background-color: #ADD8E6;
    color: black;
    transform: scale(1.1);
    border-color: black;
}


